<div class="jumbotron jumbotron-fluid animated fadeIn">

    <div class="container">
        <h1 class="display-4">Page comic</h1>
        <p class="lead">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus reprehenderit aliquam nulla ea iste, sunt, quis iusto nemo asperiores, facilis totam magnam tenetur illum similique aspernatur ut unde rem? Optio praesentium odit perspiciatis non perferendis delectus repudiandae molestiae quasi beatae, ut, sunt aut? Odit soluta esse iusto sint error corporis.
        </p>
    </div>

</div>
